<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Settings</title>

<link rel="stylesheet" href="../static/css/settings.css" th:href="@{/css/settings.css}" />
<link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css"rel="stylesheet">

</head>
<body>
	<div th:replace="~{fragments/navigation :: navigation}"></div>
	<div id="wrapper" class="container-fluid">

	<h1 id="title">USER SETTINGS</h1>

 
	<a th:href="@{/user/updateUserPage/{id}(id=${user.id})}">Update User</a>

	<br>
	<br>

	<a th:href="@{/user/deleteUser/}">Delete User</a>

	</div>

	<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>