<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Settings</title>

<link rel="stylesheet" href="../static/css/settings.css" th:href="@{/css/settings.css}" />
<link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css"rel="stylesheet">

</head>
<body>
	<div th:replace="~{fragments/navigation :: navigation}"></div>
	<div id="wrapper" class="container-fluid">

	<h1 id="title">Settings</h1>

 
	<div class="row">
		<div class="col-3"></div>
		<div class="col-6">
			<div class="card" id="settings-card">
  				<div class="card-header">User Information</div>
  					<div class="list-group list-group-flush">
    					<a 
    						th:href="@{/user/update/firstName}" 
    						th:text="${user.firstName}" 
    						class="list-group-item list-group-item-action">
    					</a>
    					<a 
    						th:href="@{/user/update/lastName}" 
    						th:text="${user.lastName}" 
    						class="list-group-item list-group-item-action">
    					</a>
    					<a 
    						th:href="@{/user/update/email}" 
    						th:text="${user.email}" 
    						class="list-group-item list-group-item-action">
    					</a>
    					<a 
    						th:href="@{/user/update/city}" 
    						th:text="${user.city}" 
    						class="list-group-item list-group-item-action">
    					</a>
  					</div>
			</div>
		</div>
		<div class="col-3"></div>
	</div>

	<div id="buttons">
	<button class="border border-dark rounded" id="update-password"><a th:href="@{/user/update/password}">Change Password</a></button>
	<br>
	<button class="border border-dark rounded" id="delete" th:href="@{/user/deleteUser/}">Delete User</button>
	</div>

	</div>

	<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>