<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Update User Password</title>

<link rel="stylesheet" href="../static/css/update-user.css" th:href="@{/css/update-user.css}" />
<link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css"rel="stylesheet">

</head>
<body>
<div th:replace="~{fragments/navigation :: navigation}"></div>

<div class="container-fluid" id="wrapper">
<h1 id="title">Enter New Password</h1>

<a id="previous" th:href="@{/main/settings}">back</a><br>

<form 
	id="userForm" 
	th:action="@{/user/update/password}" 
	autocomplete="off"
	method="POST">

	<label for="name">Password:</label><br>
	<input type="text"
		   id="form-password" 
		   th:field = "*{user.password}"
	 	   placeholder="password">
	 	   
	<button class="border border-dark rounded" type="submit">Update Password</button>
	

</form>

</div>

<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>