#title{
	text-align: right;
	padding:20px;
}

#date, #temp, #social{
	text-align: center;
}

#weather-container{
	background-color: white;
	box-shadow: 0px 5px 15px 1px rgba(59, 48, 48, 0.47);
	padding: 5px;
	border-radius: 25px;
}

#list-container{
	background-color: white;
	box-shadow: 0px 5px 15px 1px rgba(59, 48, 48, 0.47);
	padding: 5px;
	border-radius: 25px;
	margin-bottom: 15px;
}


#quote{
	background-color: white;
	border-radius: 25px;
	padding: 5px;
	margin-bottom: 50px;
	box-shadow: 0px 5px 15px 1px rgba(59, 48, 48, 0.47);
}

#wrapper{
	padding-bottom: 180px;
	background-color: #F8F8FF;
	box-shadow: 0px 5px 15px 1px rgba(59, 48, 48, 0.47);
	width: 98%;
}

#social-card{
	align-content: center;
	box-shadow: 0px 5px 15px 1px rgba(59, 48, 48, 0.47);
	border-radius: 25px;
}



td{
	background-color: white;
}