<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml"
>
<head>
<meta charset="ISO-8859-1">
<title>Edit</title>
</head>
<body>

	<form method="post" th:action="'/' + ${user.id}" th:object="${user}">
		
		<input id="username" 
			   placeholder="Enter username" 
			   required th:field="*{username}" 
			   type="text" 
		/>
		<input id="desc" 
		       placeholder="desc" 
		       required th:field="*{desc}" 
		       type="text" 
		/>
		
		<input id="activeFlag" type="hidden" th:field="*{active}" value='true'>
		
		<input type="submit" value="Update"
         	onclick="document.getElementById('activeFlag').value='true'">
         
  		<input type="submit" value="Delete"
         	onclick="document.getElementById('activeFlag').value='false'">
			
	</form>
	
</body>
</html>